.InvoiceContainer {
    max-width: 1600px;
}
.xui-composition-detailheader {
    grid-template:
        "header"
        "detail" / minmax(0, 1fr);
}
@media screen and (min-width: 1200px) {
    .xui-composition-is-finite {
        margin-left: auto;
        margin-right: auto;
    }
}
.xui-composition-is-finite {
    max-width: 1200px;
    width: 100%;
}
@media screen and (min-width: 600px) {
    .xui-composition-has-auto-space-around {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.xui-composition {
    display: grid
;
}
*, :after, :before {
    box-sizing: inherit;
}
* {
    min-width: 0;
}
.xui-body, .xui-container {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    box-sizing: border-box;
    color: #000a1e;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: var(--x-font-size-medium, .9375rem);
    line-height: var(--x-line-height-standard, 1.5rem);
}
.xui-body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: var(--x-font-size-medium, .9375rem);
    line-height: var(--x-line-height-standard, 1.5rem);
    box-sizing: border-box;
    color: #000a1e;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f2f3f4;
    -webkit-margin-bottom-collapse: separate;
    min-height: 100%;
    overflow-y: scroll;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}
.hydrated {
    visibility: inherit;
}
